@{
    ViewData["Title"] = "Home Page";
}

@section HeadScripts{
    <!--<script src="js/TD/Canvas.js" type="text/javascript" defer="defer"></script>-->
    <!--<script src="js/TD/Canvas.js" type="module"></script>-->
}

@section BottomBodyScripts {
    <script language="JavaScript" type="module">
        // import {Canvas} from "../../wwwroot/js/TD/Canvas.js";
        import {Canvas} from "./js/TD/Canvas.js";
        //import {GraphicEngine} from "../../wwwroot/js/TD/GraphicEngine/GraphicEngine.js";
        import {GraphicEngine} from "./js/TD/GraphicEngine/GraphicEngine.js";
        // import {FpsMeterResource} from "../../wwwroot/js/TD/Resources/FpsMeterResource.js";
        import {FpsMeterResource} from "./js/TD/Resources/FpsMeterResource.js";


        const canvas = new Canvas("gameField");
        const graphicEngine = new GraphicEngine(canvas);


        const stopEngine = function (_graphicEngine, _resources) {
            _graphicEngine.Stop()

            for (const resource of _resources) {
                resource.Destroy()
            }
        };

        canvas.Init();
        graphicEngine.Init();

        const resources = [];

        resources.push(new FpsMeterResource(80, 90, 10, 15, canvas));

        graphicEngine.LoadResources(resources);

        setTimeout(stopEngine, 10000, graphicEngine, resources);

        graphicEngine.Start();

        const fieldSize = canvas.fieldSize
        console.log(`Canvas fiels size is [${fieldSize.width}, ${fieldSize.height}]`)

    </script>
}

@* <script language="JavaScript">
    Canvas.Init("gameField");
</script> *@
<div class="text-center" style="
    background-image: url('./Assets/Bacground_sky bridge.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 79vh;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    background-size: 100% auto;">
	<h1 class="display-4">Всем привет</h1>
    <canvas id="gameField" width="400" height="400" style="width: 75%; height: 75%"></canvas>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

